extends layout

block content
    h1 This action cannot be undone!
    h2= "Please, confirm that you want to delete the title:"
    h3= "'"+book.title+"'"
    form(method="post")
        input(type="submit" class='button delete' value="Delete book")
    p
        a(class="button" href="/books/") Cancel
