extends layout

block content
  div.container
    h1= `404 - Page Not Found`
    p= `Sorry!  It looks like the page you're looking for does not exist.`

    button.backHome
      a.home(href=`/`) Home

